* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }

/* Added ID */
#container {
   margin: 0px 10px;
}

h1 {
color: white;
margin: 0;
padding: 20px;
text-align: center;
}

h2 {

    margin: 10px 0px;
}

h3 {
font-size: 1.2em;
margin: 10px 0px 0px 0px;
}

h4 {
    font-size: 1em;
    margin: 10px 0px 0px 0px;
    }

header {
margin: 0;
padding: 0;
background-color: #537895;background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.form-search h2 {
font-size: 1.3em;
}

 .form {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding: 0px 0px 0px 0px;
}

label {
    width: 100%;
}

input {
    width: 100%;
    padding: 10px 5px;
}

.search-results {
    width: 100%;
    border-radius: 4px;
    background-color: #E8E8E8;
    border: none;
    padding: 10px 0px;
    margin: 0px 0px 10px 0px;
}

.search-results:hover {
    background-color: #517693;
    color: white;
 }

 .search-results:focus {
    background-color: #517693;
    color: white;
 }

 .btn {
    display: block;
    background-color: #09203f;
    width: 100%;
    color: white;
    margin: 10px 0px;
    border-radius: 4px;
    border: none;
    padding: 10px 0px;
 }

 .btn:hover {
    background-color: #517693;
    color: white;
 }

 .btn:focus {
    background-color: #517693;
    color: white;
 }

 .city-day {
    border: 1px solid black;
    margin: 10px 10px;
    padding: 0px 5px;
    border-radius: 4px;
 }

 .city-week {
     margin: 0px 10px;
     padding: 0px;
 }

 .form-results {
     padding: 0px;
 }

 .week-results {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .week-card {
     background-color: #09203F;
     color: white;
     padding: 5px 40px 5px 5px;
     border-radius: 4px;
     margin: 5px 5px;
     flex: 1;
 }

 .uv-favorable {
     background-color: #197A4F;
     color: white;
     border-radius: 4px;
     padding: 3px 10px;
 }

 .uv-moderate {
    background-color: #F7E400;
    color: black;
    border-radius: 4px;
    padding: 3px 10px;
}

.uv-severe {
    background-color: #D90011;
    color: white;
    border-radius: 4px;
    padding: 3px 10px;
}

   @media screen and (max-width: 768px) {
    .week-card {
      flex: 0 100%;
      /* text-align: center; */
    }

  }